<h2>Editar dependente</h2>

<form action="/perfil/dependente/edit/save/{{dependente.id}}" method="post" class="d-flex flex-column">
    <input type="hidden" name="id" value="{{dependente.id}}" class="form-control" />  
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <input type="text" name="nome" value="{{dependente.nome}}" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Telefone:</label>
        <div class="col-sm-10">
            <input type="text" name="telefone" value="{{dependente.telefone}}" class="form-control" />
        </div>
    </div>
    <div class="input-wrapper">
    <label class="col-sm-2 col-form-label" for="event-category">Parentesco:</label>
        <select class="col-sm-2 col-form-label" value="{{dependente.parentesco}}" name="parentesco">
            <option name="Cônjuge">Cônjuge</option>
            <option name="Filho(a)">Filho(a)</option>
        </select>
    </div>
    <div class="mb-3 row align-self-end">
        <input type="submit" class="w-100 btn btn-lg btn-primary" value="Salvar Alteração">
    </div>
</form>