<h2>Olá, {{administrador.nome}}</h2>
<hr>
<h4>Pesquisar associado</h4>
<br>
    <form action="/perfil/administrador/2/pesquisar" method="GET" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="search" type="text" placeholder="Digite o nome completo do associado" aria-label="Search">
    <br>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Pesquisar">
    </form>
<hr>
<h4>Reservas</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Churrasqueira</th>
                <th scope="col">Associado</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {{#each reservas}}
            <tr>
                <td>{{this.local}}</td>
                <td>{{this.[Associado.nome]}}</td>
                <td>{{this.data}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<hr>
<h4>Novos associados</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Matrícula empresa</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each associados}}
            <tr>
                <td>{{this.nome}}</td>
                <td>{{this.cpf}}</td>
                <td>{{this.email}}</td>
                <td>{{this.telefone}}</td>
                <td>{{this.matriculaEmpresa}}</td>
                <td>{{#if this.status}} Ativo {{else}} Inativo {{/if}}</td>
                <td>
                <form action="/perfil/administrador/aprovar/{{this.id}}" method="post"><button type="submit" class="link-primary" style="background-color: transparent; text-decoration:underline; border:none;">Aceitar</button></form>
                <form action="/perfil/administrador/2/delete/{{this.id}}" method="get"><button type="submit" class="link-primary" style="background-color: transparent; text-decoration:underline; border:none;">Deletar</button></form>
                </td>
            {{/each}}
            </tr>
        </tbody> 
    </table>
</div>